/* signup cards */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.signUp-page {
   
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.signUp-page .card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;

}




.card {
    /* width: clamp(18rem , 20rem, 10rem); */
    width : 16rem;
    height: 21rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin:1rem; 
    box-shadow: 0 0 4px -1px #353434;
}

.card img {
    display:block;
    margin: 0 auto;
}

.card p {
    padding: 1rem;
    font-size: 1.3rem;
}

.signUp-page .card:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0 0 4px -1px #353434;

}